*                                  @altinn/team-core
AppsMonitoring/**                  @altinn/team-altinn-studio
.github/workflows/apps-monitoring* @altinn/team-altinn-studio
RepoCleanup/**                     @altinn/team-altinn-studio
