name: Apps.Monitoring PR build
permissions:
  contents: read

on:
  pull_request:
    paths:
      - AppsMonitoring/**

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./AppsMonitoring

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup dotnet '10.0.x'
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          dotnet-version: '10.0.x'

      - name: Display dotnet version
        run: dotnet --version

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Test
        run: dotnet test -c Release --no-restore --no-build --logger "console;verbosity=detailed"
