name: Apps.Monitoring PR build
permissions:
  contents: read

on:
  pull_request:
    paths:
      - AppsMonitoring/**

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./AppsMonitoring

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Setup dotnet '10.0.x'
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          dotnet-version: '10.0.x'

      - name: Display dotnet version
        run: dotnet --version

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Test
        run: dotnet test -c Release --no-restore --no-build --logger "console;verbosity=detailed"
